{
  "swagger" : "2.0",
  "info" : {
    "version" : "2.7.0",
    "title" : "Litmus Portal Authentication API",
    "description" : ""
  },
  "host" : "stress.harness.io",
  "basePath" : "/gateway/ng/api",
  "schemes" : ["https", "http"],
  "paths" : {
    "/status" : {
      "get" : {
        "tags" : ["accounts"],
        "summary" : "Get Immutable delegate enabled flag",
        "description" : "This API is used to check the status of the server.",
        "responses" : {
          "200" : {
            "description" : "OK",
            "examples" : {
              "application/json" : {
                "status" : "up"
              }
            },
            "schema" : {
              "type" : "object"
            }
          }
        },
        "parameters" : [],
        "consumes" : ["application/json"],
        "produces" : ["application/json"]
      }
    },
    "/login" : {
      "post" : {
        "description" : "",
        "responses" : {
          "200" : {
            "description" : "OK",
            "examples" : {
              "application/json" : {
                "access_token" : "eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2MjcxMjY4MjMsInJvbGUiOiJhZG1pbiIsInVpZCI6ImY4MDM2YzUxLTBkNzktNGNkNy1hN2QwLTQ1ZGNhZGI4MGVlYiIsInVzZXJuYW1lIjoiYWRtaW4ifQ.zNIMwocHgmguwtGFupV54UfcfwEdaRO1_xB2ilalqn0fp-JE0ujkHT3gDyepnEGSRm2j1eTopPgtvyRVPb7gGA",
                "expires_in" : "86400",
                "type" : "Bearer"
              }
            },
            "schema" : {
              "type" : "object"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "examples" : {
              "application/json" : {
                "error" : "unauthorized",
                "error_description" : "The user does not have requested authorization to access this resource"
              }
            },
            "schema" : {
              "type" : "object"
            }
          }
        },
        "parameters" : [
          {
            "name" : "body",
            "in" : "body",
            "schema" : {
              "type" : "object",
              "example" : {
                "username" : "admin",
                "password" : "admin"
              }
            }
          }
        ],
        "consumes" : ["application/json"],
        "produces" : ["application/json"]
      }
    }
  }
}
