{
  "swagger" : "2.0",
  "info" : {
    "title" : "Litmus Portal Authentication API",
    "version" : "2.7.0",
    "description" : "Litmus Portal Authentication APIs are used to authenticate the identity of a user and to perform several user-specific tasks like :\n <li>Update Profile</li>\n <li>Change Password</li>\n <li>Reset Password</li>\n <li>Create new users etc.</li>\n"
  },
  "host" : "stress.harness.io",
  "basePath" : "/gateway/ng/api",
  "schemes" : ["https", "http"],
  "paths" : {
    "/status" : {
      "get" : {
        "tags" : ["accounts"],
        "summary" : "Get Immutable delegate enabled flag",
        "description" : "This API is used to check the status of the server.",
        "responses" : {
          "200" : {
            "description" : "OK",
            "examples" : {
              "application/json" : {
                "status" : "up"
              }
            },
            "schema" : {
              "type" : "object"
            }
          }
        },
        "parameters" : [],
        "consumes" : ["application/json"],
        "produces" : ["application/json"]
      }
    },
    "/login" : {
      "post" : {
        "description" : "This API is used to login into auth server.\n<table>\n  <tr>\n  <th>Field</th>\n  <th>Possible values</th>\n  <th>Mandatory/Optional</th>\n  </tr>\n  <tr>\n    <td>username</td>\n    <td>admin</td>\n    <td>Mandatory</td>\n   </tr>\n   <tr>\n    <td>password</td>\n    <td>pass123</td>\n    <td>Mandatory</td>\n  </tr>\n</table>\n",
        "responses" : {
          "200" : {
            "description" : "OK",
            "examples" : {
              "application/json" : {
                "access_token" : "eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2MjcxMjY4MjMsInJvbGUiOiJhZG1pbiIsInVpZCI6ImY4MDM2YzUxLTBkNzktNGNkNy1hN2QwLTQ1ZGNhZGI4MGVlYiIsInVzZXJuYW1lIjoiYWRtaW4ifQ.zNIMwocHgmguwtGFupV54UfcfwEdaRO1_xB2ilalqn0fp-JE0ujkHT3gDyepnEGSRm2j1eTopPgtvyRVPb7gGA",
                "expires_in" : 86400,
                "type" : "Bearer"
              }
            },
            "schema" : {
              "type" : "object"
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "examples" : {
              "application/json" : {
                "error" : "unauthorized",
                "error_description" : "The user does not have requested authorization to access this resource"
              }
            },
            "schema" : {
              "type" : "object"
            }
          }
        },
        "parameters" : [ {
            "name" : "body",
            "in" : "body",
            "schema" : {
              "type" : "object",
              "example" : {
                "username" : "admin",
                "password" : "admin"
              }
            }
          } ],
        "consumes" : ["application/json"],
        "produces" : ["application/json"]
      }
    }
  }
}
